body {
    height: 100vh;
    /*display: flex;
    max-width: 1024px;*/
    margin: 0 auto;
    background-color: hsl(218, 28%, 13%) ;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: Open sans;
    /*padding: 20px;*/
}
.nav {
    display: flex;
    justify-content:space-between;
    /*background-color: hsl(217, 28%, 15%);*/
    padding: 30px;
    padding-bottom: 0;
}
.header {
    background-color: hsl(217,27%,15%);
    font-family: Raleway;
    height: 920px;
}
.menus{
    display: flex;
    font-family: Raleway;
}
.menu{
    margin-right: 40px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.menu a:hover {
    color: hsl(198, 60%, 50%);
}
.logo img {
    width: 140px;
    height: 40px;
}
.intro{
    height: 900px;
    /*padding-top: 20px;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:   hsl(217,27%,15%);
    background-image: url("images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-position: 110px 540px;
}
.intro img {
    width: 670px;
    height: 500px;
}
.intro h4 {
    font-size: 28px;
    width: 517px;
    text-align: center;
    margin-top: 20px ;
    margin-bottom:14px ;
}
.btn {   
    width: 230px;
    height: 42px;
    border-radius: 30px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to right, rgb(101, 226, 217),
     rgb(51, 158, 204));
    border: none;
    color: hsl(0, 0%, 100%);
    font-family: Raleway;
    font-size: 15px;
    margin-top:8px;
    cursor: pointer;
}
.btn button:hover {
    background-color: red;
}
.intro p {
    width: 435px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 8px;
}
.main{
    margin-top: 55px;
}
.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 767px) {
.features {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 1fr;
    padding: 4em 10em 0 10em;
    grid-row-gap: 8em;
    }
}
.feature{
    text-align: center;
}
.feature h3 {
    font-size: 23px;
    margin-bottom: 10px;
    font-family: Raleway;
}
.feature p {
    font-size: 15px;
    margin-left: 9em;
    text-align: center;
    margin-right: 9em;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.4;
}
.illustration{
    display: flex;
    padding: 7.5em 0 0 9em;
    margin-bottom: 9em;
}
.text{
    /*margin-left: 60px;*/
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h2 {
    font-size: 37px;
    margin-bottom: 10px;
    width: 60%;
    font-family: Raleway;
}
.text p {
    margin: 0;
    margin-bottom: 10px;
    line-height: 1.5;
}
.text-content {
    /*width: 68%;*/
    font-size: 15px;
}
.text a{
    color: white;
}
.text a:hover{
    color: hsl(198, 60%, 50%);
}
.testimonial {
    display: flex;
    font-size: 15px;
    justify-content: center;
    margin-bottom: 50px;
    height: 300px;
    align-items: center;
    margin-left: 80px;
}
.img {
    width: 70px;
    height: 60px;
    margin-bottom: 14.6rem;
    margin-right: 3px;
}
.third {
    margin-right: 0;
}
.testimony {
    width: 340px;
    height: 160px;
    background-color: hsl(219, 30%, 18%);
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 35px;
    border: none;
    padding: 30px;
    margin-top: 40px;
    position: relative;
    right: 71px;
}
.details {
    display: flex;
    align-items: center;

}
.details img {
    width: 30px;
    height:30px;
    border-radius: 100%;
    margin-right: 10px;
}
.details p {
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6);

}
.details p span {
    font-weight: 700;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}
.content {
    line-height: 1.4;
}
.Signup {
    width: 850px;
    height: 190px;
    background-color: hsl(217,27%,15%);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    top: 7em;
}
.Signup p {
    margin:0px 100px ;
}
.boxes {
    margin-top: 35px;
    display: flex;
    margin-left: 95px;
}
.box p {
    margin-right: 15rem;
    margin-left: 10px;
    font-size: 12px;
    margin-top: 5px;
    color: hsl(0, 100%, 63%);

}
.boxes input {
    width: 430px;
    height: 42px;
    border-radius: 30px;
    border: none;
    margin-right: 25px;
    padding-left:30px;
}
.boxes button {
    width: 195px;
    height: 45px;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    background-image: linear-gradient(to right, rgb(101, 226, 217), rgb(51, 158, 204));
}
.Signup button:hover {
    background-color: hsl(198, 60%, 50%);;
}
.footer {
    background-color:  hsl(216, 53%, 9%);
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-left: 8rem;
    font-size: 15px;
}
.logo {
    width: 140px;
    height: 40px;
}
.footerContent {
    display: flex;
    margin-top: 3em;
}
.location  {
    display:flex;
    margin-right: 6rem;
}
.location p {
    width: 305px;
}
.location img {
    width: 12px;
    height: 16px;
    margin-top: 1.2rem;
    margin-right: 3rem;
}
.contact {
    margin-right: 6rem;
}
.contact p {
    margin-bottom: 10px;
}
.phone img {
    width: 15px;
    margin-right: 1.5rem;
    margin-top: 7px;
}
.phone {
    display: flex;
    align-items: center;
}
.email img {
    margin-right: 1.5rem;
    margin-bottom: 5px;
}
.email {
    display: flex;
    align-items: center;
}
.email p {
    margin-top: 0;
}
.quicklinks{
    line-height: 2;
}
ul {
    margin-top: 8px;
    margin-right: 6rem;
}
li {
    list-style-type: none;
}
.social-icons {
    margin-top: 17px;
}
.social-icons i {
    cursor: pointer;
}
.fa{
    width: 24px;
    height: 24px;
    border: 1px solid white;
    margin: auto;
    border-radius: 50%;
}

@media(min-width: 600px){

}
@media(min-width: 800px){

}
@media(min-width: 1000px){
    
}
